{% extends 'front_pages/base.html' %}
{% block title %}Início{% endblock %}

{% block content %}
<div class="row g-4">
  <!-- Section 1 -->
  <div class="col-md-4">
    <a href="{{ url_for('planos_formacao') }}" class="text-decoration-none text-white">
      <div class="card bg-dark text-white border-0 shadow-sm section-card-sm" style="background-image: url('{{ url_for('static', filename='images/inquerito.png') }}');">
        <div class="card-body d-flex align-items-end" style="height: 140px;">
          <h6 class="card-title small">📘 Inquérito de Satisfação</h6>
        </div>
      </div>
    </a>
  </div>

  <!-- Section 2 -->
  <div class="col-md-4">
    <a href="{{ url_for('legislacao') }}" class="text-decoration-none text-white">
      <div class="card bg-dark text-white border-0 shadow-sm section-card-sm" style="background-image: url('{{ url_for('static', filename='images/formadores.jpg') }}');">
        <div class="card-body d-flex align-items-end" style="height: 140px;">
          <h6 class="card-title small">👩‍🏫 Formadores Creditados</h6>
        </div>
      </div>
    </a>
  </div>

  <!-- Section 3 -->
  <div class="col-md-4">
    <a href="{{ url_for('pessoal_docente') }}" class="text-decoration-none text-white">
      <div class="card bg-dark text-white border-0 shadow-sm section-card-sm" style="background-image: url('{{ url_for('static', filename='images/acoes.jpg') }}');">
        <div class="card-body d-flex align-items-end" style="height: 140px;">
          <h6 class="card-title small">📜 Ações Creditadas</h6>
        </div>
      </div>
    </a>
  </div>
</div>
<h1 class="mb-4">Bem-vindo à página da Formação Contínua do Sistema Educativo da Região Autónoma dos Açores</h1>
<p>O presente espaço está disponível para todos os interessados na área da formação contínua do sistema educativo regional. A aplicação informática, disponível ao público desde 2008, permite a acreditação de entidades formadoras, de ações de formação contínua e a atribuição do estatuto de formador para pessoal docente, a desempenhar funções nas unidades orgânicas do sistema educativo regional.</p>
<p>Valores como credibilidade, transparência, cooperação, partilha e ética profissional são os objetivos do serviço prestado, no âmbito da formação contínua. Pretende-se um serviço eficiente, e acessível a todos, comprometido com uma cultura de respeito, equidade e igualdade de oportunidades, independentemente da localização geográfica dos seus utilizadores.<p>
<p>Assim, no âmbito das alíneas c) e e) do artigo 6º do Regulamento Geral de Proteção de Dados, os dados pessoais solicitados têm como finalidade os procedimentos necessários para análise, parecer e certificação das candidaturas submetidas na Página da Formação Contínua e posterior contacto caso se venha a considerar necessário, tendo-se em conta os princípios previstos no artigo 5.º do último diploma quanto ao tratamento dos dados pessoais.<p>
<p>Em caso de dúvida, estamos disponíveis para qualquer contacto através do correio eletrónico: <u>dre.dsrh.formacao@azores.gov.pt</u></p>


{% endblock %}